﻿<!-- start body header -->
<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title" style="color:#21ba45 !important">View Departments</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="table-responsive mb-4">
                    <table class="table table-hover js-basic-example dataTable table_custom spacing5">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>                              
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>                              
                                <th>Date Created</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model.TheDepartments)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>                                  
                                    <td>@item.DateCreated</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>