﻿@model MyFAANStore.Models.ProductAnalysisModel
<!-- start body header -->
<div id="page_top" class="section-white ">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title " style="color:#21ba45 !important">Inventory Report</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-white">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-sm-flex justify-content-between mt-5">
                    <div>
                        <h4>Welcome!</h4>
                        <h6 class="mb-0">Recurring Inventory Growth</h6>
                        <small>Measure How Fast You’re Growing Monthly. <a href="#">Learn More</a></small>
                    </div>
                    <div class="selectgroup w250">
                        <label class="selectgroup-item">
                            <input type="radio" name="intensity" value="low" class="selectgroup-input" checked="">
                            <span class="selectgroup-button">@Model.Day</span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="intensity" value="medium" class="selectgroup-input">
                            <span class="selectgroup-button">@Model.Month</span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="intensity" value="high" class="selectgroup-input">
                            <span class="selectgroup-button">@Model.Year</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-white pl-0 pr-0">
    <div id="chart-area-spline" style="height: 25rem;"></div>
</div>
<div class="section-body py-4 mt--75">
    <div class="container-fluid">
        <div class="row clearfix">

            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <h6>Total Received</h6>
                        <h3 class="pt-3">+<span class="counter">@Model.TotalReceived</span></h3>
                        <span><span class="text-success mr-2"><i class="fa fa-long-arrow-up"></i> @Model.TotalReceived</span> Till Date</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <h6>Total Issued</h6>
                        <h3 class="pt-3">-<span class="counter">@Model.TotalIssued</span></h3>
                        <span><span class="text-danger mr-2"><i class="fa fa-long-arrow-down"></i>@Model.TotalIssued</span> Till Date</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <h6>Total Items</h6>
                        <h3 class="pt-3 counter">@Model.TotalItems</h3>
                        <span><span class="text-success mr-2"><i class="fa fa-long-arrow-up"></i> @Model.TotalItems</span> Till Date</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-body">
                        <h6>Total Departments</h6>
                        <h3 class="pt-3 counter">@Model.TotalDepartments</h3>
                        <span><span class="text-success mr-2"><i class="fa fa-long-arrow-up"></i> @Model.TotalDepartments</span> Till Date</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix row-deck">
            <div class="col-lg-5 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Departments</h2>
                        <div class="card-options">
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                            <div class="item-action dropdown ml-2">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table card-table mb-3">
                            <tbody>

                                @foreach (var item in Model.Departments)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td class="text-right">
                                            <span class="badge badge-default">@item.NoOfProducts</span>
                                        </td>
                                    </tr>
                                   
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Transaction History</h2>
                        <div class="card-options">
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>

                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chart-donut" style="height: 15rem"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

