﻿@model MyFAANStore.Models.ProductCreateModel

<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title" style="color:#21ba45 !important">Create Product</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Product</h3>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @if (@ViewBag.Success != null)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button data-dismiss="alert" class="close"></button>
                                    <p>@ViewBag.Success</p>
                                </div>

                            }
                            if (@ViewBag.Error != null)
                            {

                                <div class="alert alert-error">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <strong>@ViewBag.Error</strong>
                                </div>
                            }
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Voucher No." } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>

                            <div class="form-group">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Quantity Available" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>

                            <div class="form-group">
                                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "Unit Price" } })
                                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>
                            <div class="form-group">
                                <label class="form-label">Department:</label>
                                @Html.DropDownListFor(model => model.DepartmentID, Model.Departments, "--Select--", new { @class = "form-control custom-select", placeholder = "Name Of Representative" })
                                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Description, 5, 30, new { @class = "form-control", placeholder = "Description" })

                                @*<textarea class="form-control" rows="5" cols="30" placeholder="Description"></textarea>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })*@

                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary pull-right">Create</button>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>