﻿@model MyFAANStore.Models.ProductDetailsModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLiveLabel">Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    @Html.HiddenFor(model=>model.ID)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Name)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Name)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Code)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Code)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Department)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Department)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Quantity)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Quantity)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.UnitPrice)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.UnitPrice)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Description)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Description)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.DateCreated)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.DateCreated)</label>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    @*<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit",new { id=Model.ID})'">Edit</button>*@
</div>

