﻿



            <!-- start body header -->
            <div id="page_top" class="section-body">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left">
                            <h1 class="page-title" style="color:#21ba45 !important">View Products</h1>
                        </div>
                        <div class="right">
                            <div class="notification d-flex">
                                <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                                <button type="button" class="btn btn-facebook anchorDetail" href="Export" data-toggle="modal" data-id=""><i class="fa fa-file-text mr-2"></i>Data export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="table-responsive mb-4">
                                <table class="table table-hover js-basic-example dataTable table_custom spacing5">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Code</th>
                                            <th>Department</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Date Created</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Code</th>
                                            <th>Department</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Date Created</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        @foreach (var item in Model.TheProducts)
                                        {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Code</td>
                                            <td>@item.TheDepartment.Name</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.UnitPrice</td>
                                            <td>@item.DateCreated</td>
                                            <td class="actions">
                                                <a class="btn btn-sm btn-link anchorDetail" href="Details" data-toggle="modal" data-id="@item.ID" title="View" style="color:#21ba45 !important"><i class="fa fa-eye"></i></a>
                                                <a class="btn btn-sm btn-link" href="@Url.Action("Edit",new { id=@item.ID})" data-toggle="tooltip" title="Edit" style="color:#21ba45 !important"><i class="fa fa-pencil"></i></a>

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="exampleModalLive2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true" >
                    <div class="modal-dialog" role="document" >
                        <div class="modal-content" id='myModalContent'>
                           
                        </div>
                    </div>
                </div>


            </div>