﻿@model MyFAANStore.Models.ProductHistoryDetailsViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLiveLabel">Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.ProductCode)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.ProductCode)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.ProductName)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.ProductName)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Department)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Department)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.RequestType)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.RequestType)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Date)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Date)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.Quantity)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.Quantity)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.QuantityBefore)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.QuantityBefore)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.QuantityAfter)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.QuantityAfter)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.UnitPrice)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.UnitPrice)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.ValuePrice)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.ValuePrice)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.NameOfRepresentative)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.NameOfRepresentative)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">@Html.DisplayNameFor(model => model.PhoneOfRepresentative)</label>
            </div>
        </div>
        <div class="col-md-pull-6">
            <div class="form-group">
                <label class="">@Html.DisplayFor(model => model.PhoneOfRepresentative)</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

