﻿@model MyFAANStore.Models.ProductHistoryModel

<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title" style="color:#21ba45 !important">Edit Entry</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Supply</h3>
                    </div>
                    <div class="card-body">

                        @if (@ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <button data-dismiss="alert" class="close"></button>
                                <p>@ViewBag.Success</p>
                            </div>

                        }
                        @if (@ViewBag.Error != null)
                        {
                            <div class="alert alert-error">
                                <button data-dismiss="alert" class="close"></button>
                                <p>@ViewBag.Error</p>
                            </div>

                        }

                        @using (Html.BeginForm("EditEntry", "ProductHistory", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.HiddenFor(model => model.ProductID)
                            @Html.HiddenFor(model => model.ID)

                            @*<div class="form-group">
                <label class="form-label">Product:</label>
                @Html.DropDownListFor(model => model.ProductID, Model.Products, "--Select--", new { @class = "form-control custom-select", placeholder = "Name Of Representative" })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger", @style = "color:#d14" })
            </div>*@

                            <div class="form-group">
                                <label class="form-label">Product Name</label>
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = "Product Name", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Product Code</label>
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Product Name", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Quantity In Store</label>
                                @Html.EditorFor(model => model.QuantityRemaining, new { htmlAttributes = new { @class = "form-control", placeholder = "Quantity In Store", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.QuantityRemaining, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>

                            <div class="form-group">
                                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "Department / Company" } })
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>

                            <div class="form-group">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "Quantity Supplied" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>

                            @*<div class="form-group">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "Unit Price of Item" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger", @style = "color:#d14" })
            </div>*@

                            <div class="form-group">
                                @* <label class="form-label">Supplier Rep. Name:</label>*@

                                @Html.EditorFor(model => model.NameOfRepresentative, new { htmlAttributes = new { @class = "form-control", placeholder = "Name Of Representative" } })
                                @Html.ValidationMessageFor(model => model.NameOfRepresentative, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>
                            <div class="form-group">
                                @* <label class="form-label">Supplier Rep. Phone:</label>*@
                                @Html.EditorFor(model => model.PhoneOfRepresentative, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Of Representative" } })
                                @Html.ValidationMessageFor(model => model.PhoneOfRepresentative, "", new { @class = "text-danger", @style = "color:#d14" })
                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>