﻿@model MyFAANStore.Models.ProductHistoryExportModel
@using Store.Core.Enums

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLiveLabel">Search</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">

        <div class="card-body">

            @if (@ViewBag.Success != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button data-dismiss="alert" class="close"></button>
                    <p>@ViewBag.Success</p>
                </div>

            }
            @if (@ViewBag.Error != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button data-dismiss="alert" class="close"></button>
                    <p>@ViewBag.Error</p>
                </div>

            }

                @using (Html.BeginForm("Export", "ProductHistory", FormMethod.Post, new {  role = "form" }))
                {
                    <div class="form-group">
                        <div class="input-daterange input-group" data-provide="datepicker">
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "input-sm form-control", placeholder = "From" } })
                            <span class="input-group-addon range-to col-md-1">to</span>
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "input-sm form-control", placeholder = "To" } })

                            @*<input type="text" class="input-sm form-control" name="end">*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">@Html.DisplayNameFor(model => model.ProductCode)</label>
                            </div>
                        </div>
                        <div class="col-md-pull-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Product Code" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">@Html.DisplayNameFor(model => model.RequestType)</label>
                            </div>
                        </div>
                        <div class="col-md-pull-6">
                            <div class="form-group">
                                @*<select asp-for="RequestType" asp-items="Html.GetEnumSelectList<RequestType>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.RequestType, Html.GetEnumSelectList<RequestType>(), "--Select--", new { @class = "form-control custom-select" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">In Department</label>
                            </div>
                        </div>
                        <div class="col-md-pull-6">
                            <div class="form-group">
                                @*<select asp-for="RequestType" asp-items="Html.GetEnumSelectList<RequestType>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.DepartmentID, Model.Departments, "--Select--", new { @class = "form-control custom-select" })
                            </div>
                        </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary pull-right" >Export</button>
                }
        </div>
    </div>
</div>
@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>*@

