﻿@model MyFAANStore.Models.ProductVerifyModel

<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title" style="color:#21ba45 !important">Search Product</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Product</h3>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Verify", "ProductHistory", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @if (@ViewBag.Success != null)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <button data-dismiss="alert" class="close"></button>
                                    <p>@ViewBag.Success</p>
                                </div>

                            }
                            @if (@ViewBag.Error != null)
                            {
                                <div class="alert alert-error">
                                    <button data-dismiss="alert" class="close"></button>
                                    <p>@ViewBag.Error</p>
                                </div>

                            }
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.IsSupply)
                            @Html.HiddenFor(model => model.IsInitialRequest)
                            <div class="input-group">

                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Search for.." } })
                                <span class="input-group-append"><button class="btn btn-primary" type="submit">Go!</button></span>
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger", @style = "color:#d14" })

                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>