﻿<!-- start body header -->
<div id="page_top" class="section-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">
                <h1 class="page-title" style="color:#21ba45 !important">Store History</h1>
            </div>
            <div class="right">
                <div class="notification d-flex">
                    <button type="button" class="btn btn-facebook"><i class="fa fa-info-circle mr-2"></i>Need Help</button>
                    <button type="button" class="btn btn-facebook anchorDetail" href="Export" data-toggle="modal" data-id=""><i class="fa fa-file-text mr-2"></i>Data export</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="table-responsive mb-4">
                  
                    <table class="table table-hover js-basic-example dataTable table_custom spacing5">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Code</th>
                                <th>Request Type</th>
                                <th>Quantity</th>
                                <th>Quantity Before</th>
                                <th>Quantity After</th>
                                <th>Date</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Code</th>
                                <th>Request Type</th>
                                <th>Quantity</th>
                                <th>Quantity Before</th>
                                <th>Quantity After</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model.TheProductHistories)
                            {
                                <tr>
                                    <td>@item.TheProduct.Name</td>
                                    <td>@item.TheProduct.Code</td>
                                    <td>@item.RequestType</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.QuantityBefore</td>

                                    <td>@item.QuantityAfter</td>
                                    <td>@item.Date</td>
                                    <td class="actions">
                                        <a class="btn btn-sm btn-link anchorDetail" href="Edit" data-toggle="modal" data-id="@item.ID" title="View" style="color:#21ba45 !important"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-sm btn-link" href="@Url.Action("EditEntry",new { id=@item.ID})" data-toggle="tooltip" title="Edit" style="color:#21ba45 !important"><i class="fa fa-pencil"></i></a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="exampleModalLive2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id='myModalContent'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Woohoo, you're reading this text in a modal!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

</div>


