﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>FAAN Store :: Home</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="~/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/plugins/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/Admin/assets/plugins/dropify/css/dropify.min.css">
    <!-- Plugins css -->
    <link rel="stylesheet" href="~/Admin/assets/plugins/charts-c3/c3.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/plugins/jvectormap/jvectormap-2.0.3.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="~/Admin/assets/css/main.css" />
    <link rel="stylesheet" href="~/Admin/assets/css/theme1.css" id="stylesheet" />

    <!--Data Table-->


    <link rel="stylesheet" href="~/Admin/assets/plugins/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />

</head>

<body class="font-opensans iconcolor sidebar_dark">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <!-- Start main html -->
    <div id="main_content">

        <!-- Small icon top menu -->
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar" src="~/Admin/assets/images/vector-person-icon.jpg" alt="" /></a>
                        <a href="@Url.Action("ViewProducts","Product")" class="nav-link icon" style="color:#21ba45 !important"><i class="fa fa-search"></i></a>
                        <a href="@Url.Action("Index","Home")" class="nav-link icon" style="color:#21ba45 !important"><i class="fa fa-home"></i></a>
                      
                    </div>
                </div>
                <div class="hright">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link icon settingbar" style="color:#21ba45 !important"><i class="fa fa-bell"></i></a>
                        <a href="javascript:void(0)" class="nav-link icon menu_toggle" style="color:#21ba45 !important"><i class="fa fa-navicon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Notification and  Activity-->
        <div id="rightsidebar" class="right_sidebar">
            <a href="javascript:void(0)" class="p-3 settingbar float-right"><i class="fa fa-close"></i></a>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active style="color:#21ba45 !important"" data-toggle="tab" href="#notification" aria-expanded="true">Notification</a></li>
                <li class="nav-item"><a class="nav-link style="color:#21ba45 !important"" data-toggle="tab" href="#activity" aria-expanded="false">Activity</a></li>
            </ul>
            
        </div>

        <!-- start User detail -->
        <div class="user_div">
            <h5 class="brand-name mb-4">Store<a href="javascript:void(0)" class="user_btn"><i class="icon-close"></i></a></h5>
            <div class="card">
                <img class="card-img-top" src="~/Admin/assets/images/gallery/16.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stores Department Headquarters, Lagos</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">stores@faan.gov.ng</li>
                   
                </ul>

            </div>
           

        </div>

        <!-- start Main menu -->
        <div id="left-sidebar" class="sidebar">
            <div class="d-flex justify-content-between brand_name">
                <h5 class="brand-name">FAAN Stores</h5>

            </div>
            <div class="input-icon">
                <span class="input-icon-addon">
                    <i class="fe fe-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <ul class="nav nav-tabs b-none">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#all-tab"><i class="fa fa-list-ul"></i> INVENTORY</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="all-tab">
                    <nav class="sidebar-nav">
                        <ul class="metismenu ci-effect-1">


                            <li class="g_heading">Utilities</li>
                            <li>
                                <a href="javascript:void(0)" class="has-arrow arrow-b" style="color:#21ba45 !important"><i class="icon-tag"></i><span data-hover="Products" >Products</span></a>
                                <ul>
                                    <li><a href="@Url.Action("Create", "Product")"><span data-hover="Create">Create</span></a></li>
                                    <li><a href="@Url.Action("ViewProducts", "Product")"><span data-hover="View">View</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-arrow arrow-b" style="color:#21ba45 !important"><i class="icon-tag"></i><span data-hover="Department">Department</span></a>
                                <ul>
                                    <li><a href="@Url.Action("Create", "Department")"><span data-hover="Create">Create</span></a></li>
                                    <li><a href="@Url.Action("ViewDepartments", "Department")"><span data-hover="View">View</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="has-arrow arrow-b"style="color:#21ba45 !important"><i class="icon-tag"></i><span data-hover="Stock">Stock</span></a>
                                <ul>
                                    <li><a href="@Url.Action("Verify", "ProductHistory",new {IsSupply=true })"><span data-hover="Receive Supply">Receive</span></a></li>
                                    <li><a href="@Url.Action("Verify", "ProductHistory",new { IsSupply=false })"><span data-hover="Issue Item">Issue</span></a></li>
                                </ul>
                            </li>

                            <li><a href="@Url.Action("ViewProductHistorys", "ProductHistory")" style="color:#21ba45 !important"><i class="icon-map"></i><span data-hover="View">Report</span></a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- start main body part-->
        <div class="page">

            @RenderBody()

            <!-- Start page footer -->
            <div class="section-body">
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                Copyright © 2020 <a href="https://www.faan.gov.ng/">FAAN</a>.
                            </div>
                            <div class="col-md-6 col-sm-12 text-md-right">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a href="#">Portfolio</a></li>
                                    <li class="list-inline-item"><a href="#">FAQ</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    <!-- jQuery and bootstrtap js -->
    <script src="~/Admin/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- start plugin js file  -->
    <script src="~/Admin/assets/bundles/counterup.bundle.js"></script>
    <script src="~/Admin/assets/bundles/jvectormap1.bundle.js"></script>
    <script src="~/Admin/assets/bundles/c3.bundle.js"></script>

    <!-- Start core js and page js -->
    <script src="~/Admin/assets/js/core.js"></script>
    <script src="~/Admin/Dark/assets/js/page/index3.js"></script>



    <!-- start plugin js file  -->
    <script src="~/Admin/assets/bundles/sweetalert.bundle.js"></script>
    <script src="~/Admin/assets/plugins/dropify/js/dropify.min.js"></script>


    <script src="~/Admin/Dark/assets/js/page/sweetalert.js"></script>
    <script src="~/Admin/assets/bundles/dataTables.bundle.js"></script>
    <script src="~/Admin/Dark/assets/js/table/datatable.js"></script>
    <script src="~/Admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Admin/Dark/assets/js/form/form-advanced.js"></script>


    <script src="~/Admin/Dark/assets/js/producthistory.js"></script>

</body>
</html>
